#root
  section(role="splash" data-offset="25")
    .background_image(data-src="/assets/COLLAPSE_11.jpg")
    .layout
      .content
        .block--white
          h1 ScanLABProjects
          h3 An award winning creative studio
  section(role="block" id="sticky" class="sticky")
    .layout
      .contents
        .block
          span name | thing | address | home
  section(role="block")
    .layout
      .contents
        .block--sticky-padding
  section(role="standard")
    .layout
      .contents
        .block
          h1 We provide industry-leading pointcloud visualisation.
          | <br> We develop interactive applications.
          p The UK’s leading provider of large scale 3D scanning capturing precisely measured, beautifully coloured digital replicas of buildings, landscapes, objects and events.
          .button
            span contents of button
              i.fa(class="fa-angle-right")
  section(role="frame")
    .layout
      .contents
        .block
          span We design immersive installations, online environments and mobile applications.
  //-section(role="block" id="feature")
    .layout
      .contents
        .block--feature
          span We design immersive installations, online environments and mobile applications.
  section(role="violet")
    .background_image(data-src="/assets/Rome_VR+8K_Credit_FlorianVoggeneder_02.jpg")
    .layout
      .card
        .card_contents
          h1 Rome’s Invisible City, <br> BBC ONE
          h3 The Arts Electronica Center in Linz, Austria
          p VR + 8K 3D immersive digital projection
  section(role="block")
    .layout
      .contents.right
        .button
          span see our portfolio
            i.fa(class="fa-angle-right")
  section(role="split")
    .layout
      .contents
        .view
          .image(data-src="/assets/NYT_03.jpg")
        .view
          .block
            h1 Dream Life of Driverless Cars
            | <br> New York Times Magazine
            p The Dreamlife of Driverless Cars weaves a 3D laser scanner through the streets of London in search of how driverless vehicles might perceive - and misperceive - the world.
            .button
              span contents of button
                i.fa(class="fa-angle-right")
  section(role="block")
    .layout
      .contents.left.half
        h1 Featured Projects
        h4 Find out what we've been up to recently..
 
  section(role="related")
    .layout      
      ul.contents
        li.card_related
          .card_contents
            .image(data-src="/assets/COLLAPSE_15.jpg")
            ul.block
              h5 COLLAPSE | Southbank Centre
              li.detail                
                h6 Motion collaboration | Performance | Exhibition
              li.type
                i.fa(class="fa fa-cube")
        li.card_related
          .card_contents
            .image(data-src="/assets/Rome_VR+8K_02.jpg")
            ul.block
              h5 BBC's Rome | VR Experience 
              li.detail
                h6 Using Google Cardboard to explore the hidden city
              li.type
                i.fa(class="fa fa-headphones")
        li.card_related
          .card_contents
            .image(data-src="/assets/ibeyi_06.jpg")
            ul.block
              h5 ibeyi OYA + LIVE: XL Recordings
              li.detail
                h6 Find out more about their their worldwide tour visuals
              li.type
                i.fa(class="fa fa-headphones")
    //-.footer
      .block
        span 
          i.fa(class="fa-angle-left")
          | scroll right
          i.fa(class="fa-angle-right")
  section(role="quote")
    .layout
      .contents
        .block--quote
          h1 'A fantastic visual punch ... quite simply breathtaking'
          h5 Nicola Seare, Culture Show, BBC TWO
  section(role="splash" data-offset="")
    .background_image(data-src="/assets/ibeyi_08.jpg")
    canvas#canvas
    .layout